﻿@{
    ViewData["Title"] = "Home Page";
}

@model ShortenUrlViewModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Hi {username}!</h3>
    <p> Please check <a asp-area="" asp-controller="Home" asp-action="TechTaskDetails">Task Details</a> for more details.</p>
</div>
