@model ShortenUrlViewModel

@{
    ViewData["Title"] = "Url Shortener";
}

<div class="text-center">
@using (Html.BeginForm("ShortenUrl", "ShortenUrl"))
{
    <input type="text" name="Url" />
    <input type="submit" name="Save" value="Shorten" />
}
@Html.ValidationMessage("url", new { @class = "text-danger"})
</div>