@model ShortenUrlViewModel

@{
    ViewData["Title"] = "Shortened Urls";
}

<h2>Shortened URLs</h2>

<table class="table">
    <tr>
        <th>
            ShortUrl
        </th>
        <th>
            TargetUrl
        </th>
    </tr>

    @foreach (var item in Model.ShortenedUrls)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShortUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TargetUrl)
            </td>
        </tr>
    }
</table>
